<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Cronômetro com Vue.js + Firebase</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
	<div id="app" v-on:keyup.enter="salvar()">
		<div class="box-menu" v-bind:class="classeMenu()">
			<button class="bg-primary" v-on:click="toggleMenu">
				<span><i class="fa fa-fw fa-bars"></i></span>
				Histórico de tempo
			</button>

			<div class="lista-tempos">
				<div class="group" v-for="dia in lista">
					<div class="day">{{dia.data}}</div>
					<ul class="list-unstyled" v-for="item in dia.itens">
						<li>
							{{item.nome}}<small>{{item.tempo}}</small>
						</li>
					</ul>
				</div>
			</div>

			<div class="salvar-tempo">
				<div class="form-inline">
					<input type="text" name="nome" placeholder="Nome" class="form-control" v-model="nome" required>
					<button class="btn btn-primary" v-on:click="salvar" v-bind:disabled="!isDisabled()"><i class="fa fa-fw fa-save"></i></button>
				</div>
			</div>
		</div>

		<div class="box-tempo" v-bind:class="classeTempo()">
			<div class="wrap-tempo" v-bind:class="classeTempo()">
				<div class="tempo">{{tempo}}<small>{{milisegundos}}</small></div>
			</div>

			<div class="wrap-controls">
				<button class="bg-primary" v-on:click="action"><i class="fa fa-fw fa-play"></i><i class="fa fa-fw fa-pause"></i></button>
			</div>
		</div>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-database.js"></script>
	<script src="assets/firebase.js"></script>
	<script src="assets/script.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/style.css">
</body>
</html>