<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Cronômetro com Vue.js + Firebase</title>
	<meta charset="utf-8">
</head>
<body>
	<div class="container" id="app" v-on:keyup.enter="salvar()">
		<div class="row">
			<div class="col-md-6 col-md-offset-1">
				<div class="panel panel-primary text-center">
					<div class="panel-heading">
						<div class="panel-title">Tempo</div>
					</div>
					<div class="panel-body">
						<div class="wrap-tempo" v-bind:class="classeTempo()">
							<div class="tempo">{{tempo}}</div>
							<button class="btn-action" v-bind:class="{play: !isStarted(), pause: isStarted()}" v-on:click="action"><i class="fa fa-fw fa-play"></i><i class="fa fa-fw fa-pause"></i></button>
						</div>
					</div>
					<div class="panel-footer">
						<div class="form-inline">
							<input type="hidden" name="tempo" value="">
							<input type="text" v-model="nome" name="nome" placeholder="Nome" required class="form-control">
							<button class="btn btn-primary" v-on:click="salvar" v-bind:disabled="!isStarted()"><i class="fa fa-save"></i> Salvar</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<table class="table table-striped">
					<tbody>
						<tr v-for="item in lista">
							<td>{{item.nome}}</td>
							<td>{{item.tempo}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-database.js"></script>
	<script src="assets/firebase.js"></script>
	<script src="assets/script.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/style.css">
</body>
</html>